*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    height: 100%;
    width: 100%;
}

.search{
    width: 100%;
    height: 300px;
    background-image: url("bg.jpg");
    background-size: 100% 100%;
    position: relative;
}

.black{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    z-index: 1;
    gap: 20px;
}

h1{
    color: white;
    font-size: 60px;
}
p{
    color: white;
    font-size: 30px;
}

.searchbox{
    width: 60%;
    height: 15%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
}

#srin{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
}

.btn{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

#srbu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(48, 23, 99);
    border: none;
}

.gallery{
    column-count: 4;
    column-gap: 15px;

}

.gallery img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    display: block;
    break-inside: avoid;
    padding: 10px;
}


    



